# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Output files
encoded.txt
test_input.json

